// Dimensiones
$decimal-size: 0.6rem;
$xs-size: 1.2rem;
$small-size: 1.6rem;
$medium-size: 3.2rem;
$big-size: 4rem;
$xl-size: 6em;

// COLORES
$white: #FFFFFF;
$dim-white: #CDD7D6;
$deep-blue: #102542;
$cool-orange: #F87060;

//FUENTES
$font-principal: 'Montserrat', sans-serif;


//TRANSICIONES
$fps: 0.2s;
